.poll-structure{
    clear: right;
}

.poll-options{
    margin-top: 20px;
    margin-bottom: 20px;
}

.poll-answers{
    clear: both;
}
.answer-element{
    list-style-type: decimal;
}

.poll-question{
    font-style: italic;
    font-weight: bold;
    margin-bottom: 20px;
    float: left;
}

.result-answer-module{
    margin-top: 10px;
}

.result-answer{
    clear: left;
}

.result-answer-percentage{
    font-style: italic;
    font-size: smaller;
    float: right;
}